/* Reseteando estilos por defecto con selector universal*/
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html
{
    font-size: 62.5%;

}




.FondoComputadora
{
    background-image: url("FondoHome.jpg");
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    width: 100%;
    height: calc(100% - 50px);
   
 
}

.InfoBasico
{
    display: grid;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 600;
}
#Black
{
    background-color: rgba(0, 0, 0, 0.383); 
    width: 100%;
    height: calc(100vh - 50px);
    position: absolute;
    z-index: 10;
}

.InfoBasico strong::after
{
    /* position: relative; */
    content: "/>";
    margin-right: 10px;  
    margin-left: 13px;
  
    
}
.InfoBasico strong::before
{
    /* position: relative; */
    content: "<";
    margin-right: 10px;  
    margin-left: 13px;
    
}


.InfoBasico strong
{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    z-index: 150;
    font-size: 6rem;
    color: #fff;
    display: flex;
    justify-self: center;
    top: 35%;
    font-weight:750;

}
.Others
{
    position: absolute;
    display: grid;
    width: 100%;
    height: calc(100% - 50px);
     
}
.Others audio{
 
    position: absolute;
    width: 20%;
    height: 8%;
    background:#0059ffd7;
   
    top: 72%;
    border-radius: 50px;
    left: 3.3%;
    justify-self:start;
    z-index: 600;
    
    
}


.Habilidades
{
    color: white;
    font-size: 3.54rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    display: flex;
    position: relative;
    justify-self: center;
    top: 52%;
    left: 12%;
    height: 40%;
    z-index: 600;

}
.Habilidades #Soy
{
    position: relative;
    height: 30px;
}

.Habilidades #Programador
{
    position: relative;
    height: 30px;
}
.Habilidades span
{
    margin-left: 15px;

}

.Habilidades #Editor
{
    top: 16%;
    left: -37.6%;
    position: relative;
    height: 30px;
  
}
.Habilidades #Freelancer
{
    top: 31%;
    left: -56.2%;
    height: 30px;
    position: relative;
}
.Others span
{
    position: relative;
    display: flex;
    z-index: 600;
    color: white;
    font-size: 1.8rem;
    left: 2.5%;
    top: 66%;
    height: 50px;
    width: 350px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    
}